@import url('https://fonts.googleapis.com/css?family=Fondamento|Lobster&display=swap');
.container {
    width: 500px;
    height: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    box-shadow: 4px 0px 12px rgb(12, 1, 1) inset;
    border-radius: 10px;
}

:root {
    --primary-gradient: linear-gradient( to right, #4e4376, #2b5876);
    --mango-gradient: linear-gradient(to right, #ffa751, #ffe259);
    --text-color: #f7f9f9;
    --montserrat: "montserrat", cursive;
    --lobster: "lobster", cursive;
    --primary-shadow: 3px 4px 7px rgba(27, 27, 27, 0.534);
    --border-color: rgba(0, 0, 0, 0.329);
}

.btn {
    padding: .5rem 1.5rem;
    border: none;
    border-radius: 3rem;
    color: black;
    font-size: .9rem;
    font-family: var(--montserrat);
    box-shadow: var(--primary-shadow);
    cursor: pointer;
    margin-top: -20%;
}

form .btn-login {
    float: right;
    margin: 1rem;
    background: var(--primary-gradient);
    box-shadow: 4px 0px 12px rgb(7, 7, 7);
}

.titles {
    margin-top: 10%;
    text-align: center;
}

form {
    margin-top: -5%;
}

form h3 {
    font-family: 'Chilanka', cursive;
    color: #2b5876;
    font-size: 25px;
    text-align: center;
    padding: 0;
    margin: 0;
}

form .form-group {
    text-align: left;
    border: 1px solid var(--border-color);
    border-radius: .5rem;
    margin-top: 10px;
    margin-left: 20px;
    width: 450px;
    height: 35px;
    box-shadow: 4px 0px 12px rgba(7, 0, 0, 0.623) inset;
}

form .form-group:hover {
    box-shadow: var(--primary-shadow);
}

form .form-group .form-input {
    padding: .5rem 1rem;
    background: transparent;
    border: none;
    font-family: var(--montserrat);
    font-size: .8rem;
    overflow: hidden;
}

form input:focus {
    outline: none;
}

form .btn-login {
    padding: .9rem 5rem;
    margin-right: 30px;
}